#header {
height: 2px;
width: 2px;
background-color: blue;
position: fixed;
z-index: 1;
}

.left {
height: 2px;
width: 2px;
background-color: blue;
float: left;
}

.right {
height: 2px;
width: 2px;
background-color: blue;
float: right;
}

#footer {
height: 2px;
width: 2px;
background-color: blue;
clear: both;
}
